.home {
    width: 100%;
    max-width: max-content;
    padding: 1em 2em;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 1em auto;
}

.login_heading {
    margin: 0 0 1em;
    text-align: center;
}

.login_links {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.logout_button {
    margin-bottom: 1em;
}

.home_hotels {
    width: 60em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.home_hotel {
    height: 15em;
    border: 1px solid black;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    gap: 1em;
}

.home_hotel_img {
    width: 15em;
    height: 100%;
    object-fit: cover;
}

.home_hotel_amenity {
    display: flex;
    gap: 1em;
}