<div class='home'>
    <h1 class='login_heading' *ngIf='!loggedUser'>You are not logged in.</h1>
    <h1 class='login_heading' *ngIf='loggedUser'>Logged in as {{loggedUser}}</h1>
    <div class='login_links' *ngIf='!loggedUser'>
        <a class='login_link' routerLink='/login'>Log in</a>
        <a class='login_link' routerLink='/signup'>Sign up</a>
    </div>
    <button
        *ngIf='loggedUser'
        class='logout_button login_link'
        (click)='logout()'
    >Log out</button>
</div>

<div *ngIf='loggedUser'>
    <app-filter
        [allAmenities]='allAmenities'
        (hotelSearchEvent)='updateHotelSearch($event)'
        (citySearchEvent)='updateCitySearch($event)'
    ></app-filter>
    
    <div
        class='home_hotels'
        *ngIf='filteredHotels.length > 0 && loggedUser'
    >
        <div
            class='home_hotel'
            *ngFor='let hotel of filteredHotels; let hotelIndex = index'
        >
            <img
                class='home_hotel_img'
                [src]='baseUrl + hotel.image'
            >
            <div class='home_hotel_info'>
                <h2>{{hotel.name}}</h2>
                <p>City: {{hotel.city}}</p>
                <p>Room price: {{hotel.room_price}}</p>
                <p>Address: {{hotel.address}}</p>
                <div class='home_hotel_amenity'>
                    <p>Services:</p>
                    <p *ngFor='let name of amenityNames[hotelIndex].names'>{{name}},</p>
                </div>
            </div>
        </div>
    </div>
</div>
