<div class='login'>
    <h1>Enter your login details.</h1>
    <div class='login_inputs'>
        <label>
            <span>
                Username
                <span *ngIf='!exists' class='invalid_entry'>Doesn't exist</span>
            </span>
            <input [(ngModel)]='username'>
        </label>
        <label>
            <span>
                Password
                <span *ngIf='!exists' class='invalid_entry'>Doesn't exist</span>
            </span>
            <input [(ngModel)]='password'>
        </label>
    </div>
    <button class='login_button' (click)='loginUser()'>Log in</button>
</div>