<div class='login'>
    <h1>Enter your login details.</h1>
    <div
        class='login_error'
        *ngIf='!exists'
    >
        <p>Username or password incorrect.</p>
        <button (click)='closeError()'>x</button>
    </div>
    <div class='login_inputs'>
        <label>
            Username
            <input [(ngModel)]='username'>
        </label>
        <label>
            Password
            <input
                type='password'
                [(ngModel)]='password'
            >
        </label>
    </div>
    <button
        class='login_button'
        (click)='loginUser()'
    >Log in</button>
</div>