<div class='signup'>
    <h1 class='signup_heading'>Create your new account.</h1>
    <div
        class='signup_error'
        *ngIf='!unique'
    >
        <p>User already exists.</p>
        <button (click)='closeError()'>x</button>
    </div>
    <div class='signup_inputs'>
        <label>
            Username
            <span *ngIf='!validUsername' class='invalid_entry'>Invalid</span>
            <input [(ngModel)]='username'>
        </label>
        <label>
            Email
            <span *ngIf='!validEmail' class='invalid_entry'>Invalid</span>
            <input [(ngModel)]='email'>
        </label>
        <label>
            Password
            <span *ngIf='!validPassword' class='invalid_entry'>Invalid</span>
            <input
                type='password'
                [(ngModel)]='password'
            >
        </label>
    </div>
    <button
        class='signup_button'
        (click)='validateAndSave()'
    >Sign up</button>
</div>